body {
    font-family: 'Roboto', sans-serif;
    background: url(loginbackground.png);
    height: 150%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

#admslogoC{
  width: 60%;
  text-align: center;
  transform: translateY(-50px);
}
#admslogoL{
    width: 60%;
    text-align: center;
    transform: translateY(-50px);
}
   .login-container {
    text-align: center;
    width: 300px;
    padding: 75px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 1%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px #20716b;
   }

   .login-container h1 {
    text-align: center;
    color: #20716b;
    margin-bottom: 20px;
    font-size:medium;
   }
   #noaccount{
    font-size:medium;
    color: #6c757d;
   }
   #link{
    color: #20716b;
   }

   .login-container form {
    text-align: left;
    display: flex;
    flex-direction: column;
   }

   .login-container label {
    margin: 10px 0 5px;
    color: #6c757d;
   }


   .login-container input[type="email"],
   .login-container input[type="text"],
   .login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
   }
   .toggle-password {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    cursor: pointer;
  }

   .login-container button {
    width: 100%;
    background-color: #20716b;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
   }

   .login-container button:hover {
    background-color: #679b97;
   }

   .alert
{
    color: #20716b;
    font-weight: bold;
}
